
.shiny-output-error{
  visibility: visible; /* use visible or hidden */
}

/* is this needed as well?

.shiny-output-error:before{
  visibility: hidden;
}
*/


.actbut_style{
  text-shadow: none;
  background: none;
  border-color: white;
  color: grey;
  padding: 2px;
}

.actbut_style:hover{
  background: #efefef;
  border-color: white;
  color: black;
}

.downloadBut_style{
  text-shadow: none;
  background: none;
  border-color: white;
  color: grey;
  float: right;
  padding: 2px;
}

.downloadBut_style:hover{
  background: #efefef;
  border-color: white;
  color: black;
}

.downloadBut_style:focus{
  text-shadow: none;
  background: none;
  border-color: white;
  color: grey;
  float: right;
  padding: 2px;
}

.moreOpt_style {
  text-shadow: none;
  border-color: white;
  background: #D3D3D3;
  color: black;
}

.moreOpt_style:focus {
  text-shadow: none;
  border-color: white;
  background: #D3D3D3;
  color: black;
}

.applyBut_style {
  /*float: right; */
}


.panel_style {
  text-shadow: none;
  background: #efefef;
  padding: 1px 2px;
}

/* NOT WORKING, but using .model changes ALL modals

.graphOpts {
  position: fixed;
  left: 60%;
  top: 20%;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

*/