.actbut_style{
  text-shadow: none;
  background: none;
  border-color: white;
  color: grey;
  padding: 2px;
}

.actbut_style:hover{
  background: #efefef;
  border-color: white;
  color: black;
}

.panel_style {
  text-shadow: none;
  background: #efefef;
  padding: 1px 2px;
}